<!DOCTYPE html>
<html lang="en">
    <!-- HEAD -->
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- FAVICON -->
        <link rel="shortcut icon" href="./img/my_favicon.png" type="image/x-icon">
        <!-- LEOBOOTSTRAP -->
        <link rel="stylesheet" href="./css/leobootstrap.css">
        <!-- CSS -->
        <link rel="stylesheet" href="./css/style.css">
        <title>Spotify 2.0 with Vue</title>
    </head>
    <body>
        <!-- ROOT -->
        <div id="root">
            <!-- HEADER -->
            <header class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-6 col-md-2">
                        <img src="./img/spotify-logo.png" alt="logo header">
                    </div>
                    <div class="col-6 col-md-10 text-right">
                        <!-- DA FARE CON V-FOR -->
                        <select v-model="selectGenre" @change="filtraggio()">
                            <!-- <option value="all">all</option> -->
                            <option v-for="(genre, index) in genres" :value="genre">{{genre}}</option>
                        </select>
                    </div>
                </div>
            </header>
            <!-- MAIN -->
            <main>
                <div class="container">
                    <div class="row">
                        <div v-for="(disco, index) in dischi" :key="index" class="column-12 column-md-5">
                            <div class="card">
                                <img class="poster" :src="disco.poster" :alt="disco.title">
                                <div class="title">{{disco.title.toUpperCase()}}</div>
                                <div class="author">{{disco.author}}</div>
                                <div class="year">{{disco.year}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>

        <!-- CDN AXIOS -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
       <!-- VUEJS -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <!-- PERSONAL JS -->
        <script src="./js/script.js"></script>
    </body>
</html>